/dts-v1/;

/include/ "coreboot.dtsi"
/include/ "chromeos-coreboot.dtsi"
/include/ "flashmap-coreboot-8mb_1mb_rom.dtsi"

/ {
	model = "Google Link";
	compatible = "google,link", "intel,celeron-ivybridge";

	config {
	       hwid = "X86 LINK TEST 6638";
	};

	chromeos-config {
		virtual-dev-switch;
	};

	serial {
		reg = <0x3f8 8>;
		clock-frequency = <115200>;
	};
};
