/dts-v1/;

/include/ "skeleton.dtsi"
/include/ "chromeos.dtsi"
/include/ "flashmap-8mb.dtsi"

/ {
	model = "Google Lumpy";
	compatible = "google,lumpy", "intel,celeron-sandybridge";

	config {
	       hwid = "X86 LUMPY TEST 6638";
	};

	aliases {
		console = "/serial";
	};

	serial {
	};
};
