/dts-v1/;

/include/ "coreboot.dtsi"
/include/ "chromeos-coreboot.dtsi"
/include/ "flashmap-coreboot-8mb.dtsi"

/ {
	model = "Google Parrot";
	compatible = "google,parrot", "intel,celeron-sandybridge";

	config {
	       hwid = "X86 Parrot TEST 6638";
	};

	aliases {
		console = "/serial";
	};

	serial {
	};
};
