/dts-v1/;

/include/ "skeleton.dtsi"
/include/ "flashmap-4mb.dtsi"
/include/ "oxpcie.dtsi"

/ {
	model = "Google Lumpy";
	compatible = "google,lumpy", "intel,celeron-sandybridge";

	config {
	       silent_console = <0>;
	       hwid = "X86 LUMPY TEST 6638";
	};
};
