/dts-v1/;

/include/ "skeleton.dtsi"
/include/ "flashmap-4mb.dtsi"
/include/ "oxpcie.dtsi"

/ {
	model = "Google Mario";
	compatible = "google,mario", "intel,atom-pineview";

	config {
	       silent_console = <0>;
	       hwid = "X86 MARIO TEST 1089";
	};
};
