/dts-v1/;

/include/ "skeleton.dtsi"
/include/ "chromeos.dtsi"
/include/ "flashmap-8mb.dtsi"

/ {
	model = "Google Stumpy";
	compatible = "google,stumpy", "intel,celeron-sandybridge";

	config {
		hwid = "X86 STUMPY TEST 0128";
		skip-i8042 = <1>;
		usb-keyboard;
	};
};
