/*
 * U-Boot Peripheral ID header file for Exynos boards
 *
 * Copyright (c) 2012 The Chromium OS Authors.
 * See file CREDITS for list of people who contributed to this
 * project.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston,
 * MA 02111-1307 USA
 */

/*
 * These values come from arch/arm/include/arch-exynos5/periph.h. For
 * now they must be manually kept in sync.
 */
/define/ PERIPH_ID_SDMMC0 <4>;
/define/ PERIPH_ID_SDMMC1 <5>;
/define/ PERIPH_ID_SDMMC2 <6>;
/define/ PERIPH_ID_SDMMC3 <7>;
/define/ PERIPH_ID_SDMMC4 <8>;

/define/ PERIPH_ID_SPI0	<10>;
/define/ PERIPH_ID_SPI1	<11>;
/define/ PERIPH_ID_SPI2	<12>;
/define/ PERIPH_ID_SPI3	<13>;
/define/ PERIPH_ID_SPI4	<14>;

/define/ PERIPH_ID_I2C0 <17>;
/define/ PERIPH_ID_I2C1 <18>;
/define/ PERIPH_ID_I2C2 <19>;
/define/ PERIPH_ID_I2C3 <20>;
/define/ PERIPH_ID_I2C4 <21>;
/define/ PERIPH_ID_I2C5 <22>;
/define/ PERIPH_ID_I2C6 <23>;
/define/ PERIPH_ID_I2C7 <24>;
