/*
 * DAISY/ADV board device tree source
 *
 * Copyright (c) 2012 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/include/ "exynos5250.dtsi"
/include/ "flashmap-exynos-ro.dtsi"
/include/ "flashmap-4mb-rw.dtsi"
/include/ "chromeos-exynos.dtsi"

/ {
	model = "Daisy Board based on Exynos5250";
	compatible = "samsung,daisy", "samsung,exynos5250";

	aliases {
		serial0 = "/serial@12C30000";
		sdmmc0 = "/sdhci@12220000";
		spi0 = "/spi@12d20000";
		spi1 = "/spi@12d30000";
		spi2 = "/spi@12d40000";
		spi3 = "/spi@131a0000";
		spi4 = "/spi@131b0000";
	};

	serial@12C30000 {
		id = <3>;
	};

	config {
		hwid = "DAISY TEST A-A 9382";
		machine-arch-id = <3774>;
	};

	chromeos-config {
		/* TODO(clchiou): Add the rest of GPIOs */
		recovery-switch = <&gpio 112 1>;
	};

	memory {
		reg = <0x40000000 0x80000000>;
	};

	sdhci@12220000 {
		id = <2>;
		samsung,sdhci-bus-width = <4>;
	};

	sdhci@12200000 {
		status = "disabled";
	};

	sdhci@12210000 {
		status = "disabled";
	};

	sdhci@12230000 {
		status = "disabled";
	};

	mshci@12240000 {
		samsung,mshci-bus-width = <8>;
	};

	sromc@12250000 {
		compatible = "samsung,exynos-sromc";
		bank = <3>;
		srom-timing = <1 9 12 1 6 1 1>;
		width = <2>;
		lan@7000000 {
			compatible = "smsc,lan9215", "smsc,lan";
			reg = <0x7000000 0x100>;
			phy-mode = "mii";
		};
	};

	dmc@10C00000 {
		mem-interleave-size = <0x1f>;
		mem-type = "ddr3";
		clock-frequency = <800000000>;
	};
};
