/*
 * Google Snow board device tree source
 *
 * Copyright (c) 2012 Google, Inc
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/include/ "exynos5250.dtsi"
/include/ "flashmap-exynos-ro.dtsi"
/include/ "flashmap-4mb-rw.dtsi"
/include/ "chromeos-exynos.dtsi"
/include/ "cros5250-common.dtsi"

/ {
	model = "Google Snow";
	compatible = "google,snow", "google,daisy", "samsung,smdk5250",
		   "samsung,exynos5250";

	board-rev {
		compatible = "google,board-revision";
		google,board-rev-gpios = <&gpio 88 0>, <&gpio 89 0>;
	};

	i2c-arbitrator {
		compatible = "google,arbitrator";
		google,ap-claim-gpios = <&gpio 0xd3 0>;	/* F03 */
		google,ec-claim-gpios = <&gpio 0xc4 0>;	/* E04 */
		google,slew-delay-us = <10>;
		google,wait-retry-us = <2000>;
		google,wait-free-us = <50000>;
		google,arbitrate-bus = <&i2c4>;
	};

	dmc@10C00000 {
		mem-manuf = "elpida";
	};
	i2c4: i2c@12ca0000 {
		mkbp@1e {
			reg = <0x1e>;
			compatible = "google,mkbp";
			i2c-max-frequency = <100000>;
			ec-interrupt = <&gpio 174 1>;
		};
	};
	i2c7: i2c@12cd0000 {
		ptn3460-bridge@20 {
			compatible = "nxp,ptn3460";
			reg = <0x20>;
			powerdown-gpio = <&gpio 0x7d 1>;	/* Y25 */
			reset-gpio = <&gpio 0xad 1>;		/* X15 */
			hotplug-gpio = <&gpio 0xa7 0>;		/* X07 */
		};
	};

	dp@145b0000 {
		samsung,interface = "edp";
	};
};
