/*
 * Google Daisy board device tree source
 *
 * Copyright (c) 2012 Google, Inc
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/include/ "exynos5250.dtsi"
/include/ "flashmap-exynos-ro.dtsi"
/include/ "flashmap-4mb-rw.dtsi"
/include/ "chromeos-exynos.dtsi"
/include/ "cros5250-common.dtsi"

/ {
	model = "Google Daisy";
	compatible = "google,daisy", "samsung,smdk5250", "samsung,exynos5250";

	board-rev {
		compatible = "google,board-revision";
		google,board-rev-gpios = <&gpio 88 0>, <&gpio 89 0>;
	};

	sromc@12250000 {
		bank = <3>;
		srom-timing = <1 9 12 1 6 1 1>;
		width = <2>;
		lan@7000000 {
			compatible = "smsc,lan9215", "smsc,lan";
			reg = <0x7000000 0x100>;
			phy-mode = "mii";
		};
	};

	i2c@12c90000 {
		tpm@20 {
			reg = <0x20>;
			compatible = "infineon,slb9635-tpm";
		};
	};

	i2c@12ca0000 {
		mkbp@1e {
			reg = <0x1e>;
			compatible = "google,mkbp";
			i2c-max-frequency = <100000>;
		};
	};

};
